In [2]:
import pandas as pd

data = pd.read_csv("learningOutcomes.csv")

      5410951  activity2   53
0     5410952  activity2   79
1     5410953  activity1  207
2     5410954  activity1  179
3     5410955  activity2   68
4     5410956  activity1  135
...       ...        ...  ...
1046  5411998  activity1  148
1047  5411999  activity1   95
1048  5412000  activity2  144
1049  5412001  activity1  161
1050  5412002  activity2   48

[1051 rows x 3 columns]